@import "compass";

#trv-boards-view-wrap {
    max-width: 960px;
    margin: 0 auto;
    margin-top: 30px;
    padding: 0 20px;

    ul {
        list-style: none;
        padding: 0;
    }

    .trv-team {
        width: 100%;
        margin-bottom: 30px;

        h3 {
            display: block;
            font-size: 14px;
            font-weight: 600;
            line-height: 40px;
            border-radius: 2px;

            color: #4e6473;
            border: 1px solid #DDD;
            background-color: #FFF;
            text-transform: uppercase;

            padding: 0 10px 0 10px;
            box-sizing: border-box;
        }
    }

    .trv-board {
        display: block;
        background: #80bd15;
        padding: 10px 15px;
        height: 80px;
        box-sizing: border-box;
        border-radius: 2px;
        opacity: 0.9;
        color: #FFF;
        font-size: 16px;
        font-weight: 600;

        -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
        -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);
        box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.2);

        &:hover {
            opacity: 1;
            cursor: pointer;

            -webkit-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
            -moz-box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
            box-shadow: 0px 1px 2px 0px rgba(0,0,0,0.4);
        }
    }

    .trv-cb-btn {
        background: rgba(255, 255, 255, 0.15);
    }
}

// Create board form
.trv-cb-form {
    background-color: #FFF;
    border-radius: 2px;
    padding: 5px;
    box-sizing: border-box;

    input {
        margin-bottom: 5px;
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        padding: 0 5px 0 5px;
        border: 1px solid #e5e8ea;
        box-sizing: border-box;
    }
}
