@import "compass";

#trv-tags-wrap {
    padding-top: 20px;

    ul {
        list-style: none;
    	padding: 0;
    	margin: 0;
    }
}

// Tags list
.trv-tags-list {
    position: absolute;
    white-space: nowrap;
    overflow-x: auto;
    overflow-y: hidden;
    height: calc(100% - 60px);

    .trv-tag-wrap {
        list-style-type:none;
        display:inline-block;
        height: 100%;
        width: 250px;
        margin: 0 10px;
    }

    .trv-tag {
        h3 {
            background-color: #FFF;
            margin: 0;
            line-height: 40px;
            font-weight: 600;
            font-size: 14px;
            color: #404649;
            text-align: center;
            text-transform: uppercase;
            border-bottom: 1px solid #e5e8ea;
            border-radius: 3px 3px 0 0;
        }
    }

    #trv-add-tag {
        display: inline-block;
        width: 250px;
        margin: 0 10px;
        vertical-align: top;

        > button {
            width: 100%;
            height: 40px;
            background-color: rgba(0, 0, 0, 0.12);
            border: none;
            border-radius: 3px;
            text-align: left;
            font-size: 14px;
            color: rgba(255, 255, 255, 0.5);
            font-weight: 600;

            &:hover {
                cursor: pointer;
                background-color: rgba(0, 0, 0, 0.2);
            }
        }
    }
}

// Tasks list
.trv-tasks-wrap {
    overflow: hidden;
    position: absolute;
    height: calc(100% - 140px);
    border-radius: 0 0 3px 3px;
}

.trv-tasks-inner-wrap {
    padding: 5px 0 0 0;
    background-color: #f7f8f8;
    border-radius: 0 0 3px 3px;
    box-sizing: border-box;
}

.trv-tasks-list {
    overflow-x: hidden;
    overflow-y: auto;
}

.trv-task {
    white-space: normal;
    width: 240px;
    margin: 0 5px 5px 5px;
    background-color: #FFF;
    padding: 10px;
    border-radius: 2px;
    border: 1px solid #e5e8ea;
    box-sizing: border-box;

    &:hover {
        cursor: pointer;
        background-color: rgba(255, 255, 255, 0.8);
    }

    &.trv-ct-btn {
        margin-top: 0;
        background-color: #f7f8f8;
        text-align: center;
        font-weight: 600;
        font-size: 14px;
        line-height: 50px;
        height: 50px;
        padding: 0;
        color: #c6ccd0;

        &:hover {
            background-color: rgba(255, 255, 255, 0.6);
        }
    }

    &.trv-save-pending {
        background-color: #f7f8f8;

        &:hover {
            cursor: default;
        }
    }
}

// Add task form
.trv-ct-form {
    padding: 5px;

    textarea {
        width: 240px;
        border: 1px solid #e5e8ea;
        box-sizing: border-box;
        resize: none;
        display: block;
        margin-bottom: 5px;
    }
}

// Add tag form
#trv-ctag-btn {
    font-weight: 600;
}

#trv-ctag-form {
    padding: 5px;
    background-color: #f7f8f8;
    border-radius: 2px;

    input {
        margin-bottom: 5px;
        display: block;
        width: 100%;
        height: 30px;
        line-height: 30px;
        font-size: 14px;
        padding: 0 5px 0 5px;
        border: 1px solid #e5e8ea;
        box-sizing: border-box;
    }
}
