// Color definitions
$textContentWidth: 800px;
$primaryColor: #49ba9c;
$secondaryColor: #304153;
$lightColor: #ddd;

// General
.trv-lp-big-btn {
    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
    transition: all 0.2s ease-in-out;

    &:hover {
        cursor: pointer;
        box-shadow: 0 5px 10px rgba(0,0,0,0.19), 0 2px 3px rgba(0,0,0,0.23);
    }
}

// Specific styling
#trv-lp-top-wrapper {
    height: 600px;
    width: 100%;
    position: relative;

    background: -moz-radial-gradient(center, ellipse cover, rgba(75,88,94,1) 0%, rgba(48,65,83,1) 100%); /* ff3.6+ */
    background: -webkit-gradient(radial, center center, 0px, center center, 100%, color-stop(0%, rgba(75,88,94,1)), color-stop(100%, rgba(48,65,83,1))); /* safari4+,chrome */
    background:-webkit-radial-gradient(center, ellipse cover, rgba(75,88,94,1) 0%, rgba(48,65,83,1) 100%); /* safari5.1+,chrome10+ */
    background: -o-radial-gradient(center, ellipse cover, rgba(75,88,94,1) 0%, rgba(48,65,83,1) 100%); /* opera 11.10+ */
    background: -ms-radial-gradient(center, ellipse cover, rgba(75,88,94,1) 0%, rgba(48,65,83,1) 100%); /* ie10+ */
    background:radial-gradient(ellipse at center, rgba(75,88,94,1) 0%, rgba(48,65,83,1) 100%); /* w3c */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#4b585e', endColorstr='#304153',GradientType=1 ); /* ie6-9 */

    #trv-top-text {
        max-width: $textContentWidth;
        margin: 0 auto;
        height: 50%;
        padding-top: 40px;
        box-sizing: border-box;

        h1 {
            color: #FFF;
            font-family: 'Open Sans', sans-serif;
            font-weight: 600;
            font-size: 36px;
            text-align: center;
            margin: 0 0 15px 0;
        }

        p {
            margin: 5px 0 35px 0;
            color: $lightColor;
            text-align: center;
        }

        #trv-signup-btn {
            width: 200px;
            margin: 0 auto;
            background-color: $primaryColor;
            height: 50px;
            border-radius: 2px;

            i {
                height: 30px;
                width: 30px;
                margin: 10px;
                font-size: 30px;
                float: left;
                color: #FFF;
            }

            p {
                margin: 0;
                font-family: 'Open Sans', sans-serif;
                font-weight: 600;
                font-size: 22px;
                line-height: 50px;
                color: #FFF;
            }
        }

        #trv-existing-user-text {
            font-size: 12px;
            color: $lightColor;
            margin: 18px 0 0 0;
        }

        #trv-login-btn {
            display: block;
            margin: 0 auto;
            text-align: center;

            width: 130px;
            background-color: $primaryColor;
            height: 28px;
            border-radius: 2px;

            font-size: 14px;
            font-weight: 600;
            line-height: 28px;
            color: #FFF;

            text-decoration: none;
        }
    }

    #trv-top-img {
        position: absolute;
        background: url('../images/lp-top-cover.png') no-repeat center bottom;
        background-size: contain;
        width: 100%;
        height: 50%;
        bottom: 0;
    }
}

#trv-lp-content-wrapper {
    max-width: 800px;
    margin: 0 auto;
    padding: 0 20px 0 20px;

    #trv-features {
        h2 {
            text-align: center;
            font-size: 32px;
            margin: 40px 0 20px 0;
            color: $secondaryColor;
        }

        ul {
            list-style: none;
            padding: 0;

            li {
                box-sizing: border-box;
                margin: 0;
                display: inline-block;
                width: 25%;
                position: relative;
                background-color: $secondaryColor;
                transition: all 0.2s ease-in-out;

                &:after {
                    content: "";
                    display: block;
                    padding-bottom: 100%;
                }

                .trv-features-content {
                    position: absolute;
                    height: 70px;
                    width: 100%;
                    text-align: center;
                    margin: auto;
                    top: 0; right: 0; bottom: 0; left: 0;

                    i {
                        color: $primaryColor;
                        font-size: 50px;
                    }

                    h4 {
                        margin: 14px 0 0 0;
                        font-size: 16px;
                        font-weight: 600;
                        color: #FFF;
                        white-space: nowrap;
                    }
                }

                &:hover {
                    background-color: $primaryColor;
                    transform: scale(1.04);
                    z-index: 1;

                    i { color: $secondaryColor; }
                    p { color: $secondaryColor; }

                    box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
                }
            }
        }
    }

    #trv-about {
        margin: 40px 0 40px 0;
        min-height: 150px;
        overflow: hidden;

        #trv-about-content {
            float: left;
            width: 75%;

            p {
                text-align: justify;
            }
        }

        #trv-about-img {
            float: right;
            min-height: 150px;
            width: 20%;
            background: url('../images/lp-about.png') no-repeat center center;
            background-size: contain;
        }
    }
}

#trv-footer {
    width: 100%;
    height: 60px;
    background: $secondaryColor;

    p {
        color: $lightColor;
        text-align: center;
        line-height: 60px;
        font-size: 11px;
        margin: 0;
        padding: 0;

        a {
            color: $primaryColor;
        }
    }
}

#trv-login-modal, #trv-signup-modal {
    .uk-modal-dialog {
        width: 300px;
        padding: 0;

        .uk-modal-close {
            position: absolute;
            top: 20px;
            right: 20px;
        }
    }

    .trv-modal-content {
        padding: 20px;
    }

    input {
        width: 100%;
        border-radius: 2px;
    }

    button {
        width: 100%;
        border-radius: 2px;
        margin: 10px 0 0 0;
        background-color: $primaryColor;
    }

    .form-group {
        &.has-warning input {
            border-color: #febeaa;
        }

        &.has-success input {
            border-color: #c3f2c6;
        }
    }

    .trv-form-submit-btn {
        font-weight: 600;
        color: #FFF;

        &:disabled {
            background-color: #CCC;
            color: #F7F7F7;
        }

        transition: all 0.2s ease-in-out;
    }
}

.uk-notify-message {
    padding: 0 15px 0 15px;
    height: 35px;
    line-height: 35px;
    border-radius: 2px;
    font-size: 14px;
    color: #FFF;

    a {
        line-height: 35px;
    }

    &.uk-notify-message-danger {
        background-color: #FF9B71;
    }

    &.uk-notify-message-info {

    }
}

.trv-modal-loading {
    position: absolute;
    height: 100%;
    width: 100%;
    background-color: rgba(0, 0, 0, 0.3);
    z-index: 1;

    .trv-progress-bar {
        position: relative;
        height: 4px;
        display: block;
        width: 100%;
        background-color: #acece6;
        border-radius: 2px;
        background-clip: padding-box;
        margin: 0;
        overflow: hidden;

        .indeterminate {
            background-color: $primaryColor;
        }

        .indeterminate:before {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
            animation: indeterminate 2.1s cubic-bezier(0.65, 0.815, 0.735, 0.395) infinite;
        }

        .indeterminate:after {
            content: '';
            position: absolute;
            background-color: inherit;
            top: 0;
            left: 0;
            bottom: 0;
            will-change: left, right;
            -webkit-animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            animation: indeterminate-short 2.1s cubic-bezier(0.165, 0.84, 0.44, 1) infinite;
            -webkit-animation-delay: 1.15s;
            animation-delay: 1.15s;
        }
    }
}

@-webkit-keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@keyframes indeterminate {
    0% {
        left: -35%;
        right: 100%;
    }
    60% {
        left: 100%;
        right: -90%;
    }
    100% {
        left: 100%;
        right: -90%;
    }
}

@-webkit-keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}

@keyframes indeterminate-short {
    0% {
        left: -200%;
        right: 100%;
    }
    60% {
        left: 107%;
        right: -8%;
    }
    100% {
        left: 107%;
        right: -8%;
    }
}
