.uk-notify-message {
    padding: 0 5px 0 15px;
    height: 35px;
    line-height: 35px;
    border-radius: 1px;

    font-family: 'Open Sans', sans-serif;
    color: #FFF;
    font-size: 13px;
    font-weight: 600;

    a {
        line-height: 35px;
    }

    &.uk-notify-message-warning {
        background-color: #f5563c;
    }

    &.uk-notify-message-danger {

    }

    &.uk-notify-message-success {
        background-color: #07b779;
    }

    &.uk-notify-message-info {

    }
}
