@import "compass";

// Aurelia fixes
ai-dialog-overlay.active {
    background-color: rgba(0, 0, 0, 0.2);
}

ai-dialog-overlay {
    pointer-events: all !important;
}

ai-dialog-container {
    pointer-events: none !important;
}

// Modal stylings
ai-dialog-body {
    width: 720px;
}
