@import "compass";

// Google fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

// Variable definitions
$backgroundColor: #ebedef;

// Style
html, body {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 0;
    background-color: $backgroundColor;
    font-family: 'Open Sans', sans-serif;
    @include background(linear-gradient(45deg, #606e80, #39464f));
}

.container {
    padding: 0 20px;
    box-sizing: border-box;
}
