// Google fonts
@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,600);

// Variable definitions
$backgroundColor: #ebedef;

// Style
html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    background-color: $backgroundColor;
    font-family: 'Open Sans', sans-serif;
}

.container {
    height: 100%;
    width: 100%;
}
